.advantages{
    background-color: #fff;
  }
  .advantages__head{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.36;
    letter-spacing: 0.03em;
  }
  .advantages__list{
    display: flex;
    flex-wrap: wrap;
  }
  
  