.checkbox{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;


  &__text{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    
    @media screen and (min-width: 1200px){
      font-size: 14px;
      line-height: 1.7;
    }

    padding-left: 7px;
    letter-spacing: 0.03em;
    color: #757575;
  }
  &__text a{
    color: var(--color-sense);
  }
  &__input{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  &__icon{
    min-width: 16px;
    height: 15px;

    @media screen and (min-width: 1200px){
      margin-left: 14px;
    }
    background-image: url('../images/checked-default.svg');
  
    transition-property: background-image;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  &__input:checked + &__icon{
    background-color: var(--color-sense);
  
    background-image: url('../images/checked.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11px 8px;
    border-radius: 2px;
  }
}
 
  