.clients{
    background-color: #fff;
  }
  .clients__head{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
  .clients__ul{
    display: flex;
    margin-top: 50px;
    gap: 30px;
  }
  