.media{
  display: flex;
  margin-top: 16px;
  gap: 10px;
}
.media__list{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
}
.media__link{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  border-radius: 50%;
  width: 100%;
  height: 100%;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.media__link:hover, 
.media__link:focus{
  color: #FFFFFF;
  background-color: #188CE8;
}
.media__icon{
  fill: currentColor;
}
