   @media (max-width: 767px) {
    .menu {
      display: none;
    }
  }

  .menu-toggle {

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 24px;
    min-width: 16px;

    top: 22px;
    left: auto;
    right: 23px;
    padding: 0;

    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .menu-container {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: #FFFFFF;
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    left: 16px;
    color: #fff;
  }
  
  .close-button-menu{
    position: absolute;
    top: 8px;
    left: auto;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #fff;;
    

  }

  .close-button-menu:hover .close-button-menu__image{
    fill:var(--color-sense);
  }
  