.modal{
  position: absolute;
  top: 20px;
  left: 50%;

  transform: translatex(-50%) scale(1);
  transition: transform 250ms var(--timing-function); 

  max-width: 450px;
  max-height: 609px;
  overflow-y: scroll;
 
  @media screen and (min-width: 1200px){
    width: 528px;
    height: 581px;
  }
  background-color: #FFF;

  &__title{
    text-align: center;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
  
    letter-spacing: 0.03em;
    color: #212121;
  }
}
