.ourteam__head{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.36;
    letter-spacing: 0.03em; 
  }
  .ourteam__ul{
    display: flex;
    margin-top: 50px;
  }
  
  