.work-item{
  display: block;
  padding: 20px 24px 24px 20px;
  border: #EEEEEE solid 1px;
  border-top: none;

  &__title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
  }
  &__description{
    display: block;
    margin-top: 4px;
  
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;
  }
}

  